---
import MarbleRace from "../components/MarbleRace.tsx";
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Animated Random Number Generator</title>
  </head>
  <body>
    <h1>Animated Random Number Generator</h1>
    <MarbleRace client:only="react" />
  </body>
</html>
